<% @tasks.each do |task| %>
    <h2><%= link_to task.title, task_path(task) %></h2>
    <% if task.completed == true %>
      <p>Done</p>
    <% else %>
      <p>Not done</p>
    <% end %>
  <% end %>

  <p><%= link_to "Add new", tasks_new_path %></p>
